
.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    padding: 20px;
    background-color: var(--blue);
}

.pokemon {
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    color: #fff;
}

.pokemon h5 {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 601px) {

    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) {
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}