/* Pallete colors */
:root {
    --blue: #3D5A80;
    --blueclaro: #98C1D9;
    --gris: #E0FBFC;
    --orange: #EE6C4D;
    --black: #293241;
}

.form-container {
    /* width: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris);
    height: 100vh;
}

label {
    color: var(--black);
    font-size: 14px;
    margin-bottom: 10px;
}

p {
    color: var(--orange);
    margin: 0;
    padding: 0;
    height: 16px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--blueclaro);
}

form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.btn-form {
    background-color: var(--blue);
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    padding: 5px;
}

.btn-form:hover {
    background-color: var(--blueclaro);
    color: var(--black);
}

@media only screen and (min-width: 601px) {

    form {
        width: 450px;
    }
}

@media only screen and (min-width: 992px) {

}