/* Pallete colors */
:root {
    --blue: #0A1045;
    --blueclaro: #98C1D9;
    --gris: #00C2D1;
    --orange: #EE6C4D;
    --black: #293241;
    --width: 320px;
}

.form-container {
    /* width: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gris);
    height: 100vh;
}

label {
    color: var(--black);
    font-size: 16px;
    margin-bottom: 10px;
}

p {
    color: var(--orange);
    margin: 0;
    padding: 0;
    height: 16px;
    font-size: 12px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--blueclaro);
}

form .row {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    padding: 10px 0px;
    font-family: 'Silkscreen', cursive;
}

.input-error {
    border-bottom: 1px solid var(--orange);
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar.span-error::before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: var(--orange);
    transition: 100ms ease all;
    left: 0%;
}

.bar::before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: var(--gris);
    transition: 300ms ease all;
    left: 0%;
}

input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 10px;
}

/* input:not(:placeholder-shown) ~ label */

input:focus~.bar::before {
    width: 100%;
}

label {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 300ms ease all;
}

.btn-form {
    background-color: var(--blue);
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Silkscreen', cursive;
    display: flex;
    justify-content: center;
}

.btn-form:hover {
    background-color: var(--blueclaro);
    color: var(--black);
}

.spinner {
    border: 3px solid #fff;
    border-left-color: transparent;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    animation: spin 600ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (min-width: 601px) {

    form {
        width: 450px;
    }
}

@media only screen and (min-width: 992px) {}